{% extends 'base.html' %}
{% load static %}


{% block extra_head  %}
    <title>Requests</title>

{% endblock extra_head %}

{% block extra_js %}
    <script></script>
{% endblock extra_js %}

<!-- Page Content -->
{% block content %}
<!-- Build the html table here
      using the {{ contextValue }} sent in-->
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Filename</th>
      <th>User</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>

    </tr>
  </tbody>
  </tfoot>
</table>
{% endblock content %}
