{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <title>Upload</title>
{% endblock extra_head %}

{% block extra_js %}
    <script></script>
{% endblock extra_js %}

{% block content %}

    <center>
        <div>
            {% block replace %}
            <form method="POST" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <input type="submit" class="btn btn-primary btn-lg" name="register">
            </form>
            {% endblock replace %}
        </div>
    </center>

{% endblock content %}